@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Optional: Reset margin and padding to avoid unintended spacing */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}